@import 'variables';

main{
  padding-top: $base-width / 2;
}

.main{
  margin: 0 auto;
  width: 90%;
}

main table{
  display: inline-block;
}

table {
  display: table;
  border: 0;
  padding: 0;
  margin: 2%;
  background: #fff;
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: gray;
  color: #666;
  position: relative;
  height: 128px;
  width: 371px;

  *{
    width: 100%;
  }

  thead, th.status, .team h2 {
    font-family: "BentonSans", Arial, Helvetica, sans-serif;
  }

  thead {
    background: #f9f9f9;
    color: #333;
    font-size: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
    border: 1px #ddd solid;
    border-right: 0;
    line-height: $base-width / 4;
    margin: 0;

    th{
      background: transparent;
      border-bottom: 1px solid #ccc;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      font-weight: normal;
    }
  }

  th{
    line-height: inherit;
    padding: 6px 9px;
    position: relative;
    white-space: nowrap;
  }

  th.status{
    font-size: 12px;
    text-align: left;
  }
  th.score{
    color: #272727;
    font-size: 11px;
    padding: 0 3px !important;
    text-align: center;
    width: $base-width;
  }

  tr:nth-child(odd){
    background: transparent;
    border-top: 1px solid #f2f2f2;
  }

  tbody td{
    border-bottom: 0;
    line-height: normal;
    padding: 6px 9px;
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
    white-space: nowrap;

    &:first-child{
      border-left: 0;
    }

    &.total{
      color: #000;
      font-size: $base-width / 2;
      padding-left: 8px;
      padding-right: 8px;
      text-align: center;
      width: $base-width;
      border-right: 0;
    }

    &.score{
      font-size: 16px;
      text-align: center;
      width: $base-width;
    }

    span{
      padding: 0 2px;
    }
  }
}

.img-container{
  display: table-cell;
  height: 40px;
  min-width: $base-width;
  padding-right: $base-width / 10;
  position: relative;
}

img{
  bottom: 0;
  left: 0;
  margin: 0 auto;
  max-width: 35px;
  position: absolute;
  right: 0;
  top: 0;
}

.team{
  display: table-cell;
  padding-left: 8px;
  font-size: 11px;
  line-height: 12px;
  vertical-align: middle;
}

h2{
  color: #999;
  font-size: 18px;
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
